html, body {
    height: 100%;
}

.hold-most-things {
    display: grid !important;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 80%;
    min-height: 80%;
}

header {
    height: 10%;
    background: lavender;
    width: 100% !important;
    text-align: center !important;
}

#name-heading {
    width: 100% !important;
}

main {
    height: 100%;
    background: darkslategray;
    grid-area: 1 / 2 / 2 / 3;
}

#load-head {
    height: 100%;
    width: 100%;
    background: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h3 {
    display: inline-block;
    padding-right: 10px;
}

footer {
    height: 10%;
    background: lavender;
}

aside {
    height: 100%;
    background: dimgrey;
    grid-area: 1 / 1 / 2 / 2;
}

#movie-box {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
}

.card {
    width: 33% !important;

}

#load-head {
    grid-area: 1 / 1 / 2 / 3 !important;
    z-index: 50;
}