html, body {
    height: 200%;
    width: 100%;
    margin:0;
    padding: 0;
}

header {
    width: 100%;
    height: 10%;
    background: lavender;
}

main {
    height: 80%;
    width: 100%;
    background: hotpink;
}

footer {
    height: 10%;
    width: 100%;
    background: goldenrod;
}

aside {
    height: 100%;
    width: 20%;
    background: sandybrown;
}

/*.container {*/
/*    position: relative;*/
/*    top: 50%;*/
/*    transform: translateY(-100%);*/
/*    text-align: center;*/
/*}*/
