html, body {
    height: 100%;
}

header {
    height: 10% !important;
    background: lavender;
}

main {
    height: 80%;
    background: hotpink;
}

main, aside {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

footer {
    height: 10%;
    background: goldenrod;
}

aside {
    height: 100%;
    background: sandybrown;
}

.container {
    min-height: 100%;
    overflow: hidden;
}



/*.container {*/
/*    position: relative;*/
/*    top: 50%;*/
/*    transform: translateY(-100%);*/
/*    text-align: center;*/
/*}*/
